/** helper: primary secondary tertiary quaternary quinary senary septenary octonary nonary denary */

/** Colors */
$black:           #000;
$white:           #fff;
$primary:         #ea0025;
$secondary:       #8c0019;
$tertiary:        #0f6f7d;
$quaternary:      #47b6a1;
$quinary:         #bfe1e0;
$senary:          #e8e8e8;
$septenary:       #f4f4f4;

/** Box Model */
$gutter-small:    35px;
$gutter-big:      120px;

/** wp_classes */
$spacer:          2em;
